/* Fondo general */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87ceeb;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* Sección de bienvenida */
#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/* Secciones de preguntas */
#password-section, #content-section, #nickname-section, #third-section, #four-section, #video-section {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Estilo del texto de las preguntas */
section label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* Input y select */
select, input[type="text"] {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del botón */
button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff9a9e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #fa8072;
    transform: scale(1.05);
}

/* Sección de video */
#video-section {
    text-align: center;
}

/* Estilo responsivo para móviles */
@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    #welcome-section h1 {
        font-size: 2.5em;
    }

    button {
        font-size: 16px;
    }

    #password-section, #content-section, #nickname-section, #third-section, #four-section, #video-section {
        width: 100%;
        max-width: 300px;
    }
}
